# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

from typing import Any, Type, cast

import httpx

from ...._types import Body, Omit, Query, Headers, NotGiven, omit, not_given
from ...._utils import path_template, maybe_transform, strip_not_given, async_maybe_transform
from ...._compat import cached_property
from ...._resource import SyncAPIResource, AsyncAPIResource
from ...._response import (
    to_raw_response_wrapper,
    to_streamed_response_wrapper,
    async_to_raw_response_wrapper,
    async_to_streamed_response_wrapper,
)
from ...._wrappers import ResultWrapper
from ....pagination import SyncCursorLimitPagination, AsyncCursorLimitPagination
from ...._base_client import AsyncPaginator, make_request_options
from ....types.managed_defense.vulnerability_discovery import (
    repository_get_params,
    repository_list_params,
    repository_create_params,
)
from ....types.managed_defense.vulnerability_discovery.repository_get_response import RepositoryGetResponse
from ....types.managed_defense.vulnerability_discovery.repository_list_response import RepositoryListResponse
from ....types.managed_defense.vulnerability_discovery.repository_create_response import RepositoryCreateResponse

__all__ = ["RepositoriesResource", "AsyncRepositoriesResource"]


class RepositoriesResource(SyncAPIResource):
    @cached_property
    def with_raw_response(self) -> RepositoriesResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/cloudflare/cloudflare-python#accessing-raw-response-data-eg-headers
        """
        return RepositoriesResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> RepositoriesResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/cloudflare/cloudflare-python#with_streaming_response
        """
        return RepositoriesResourceWithStreamingResponse(self)

    def create(
        self,
        *,
        account_id: str,
        name: str,
        worker_script_name: str | Omit = omit,
        idempotency_key: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> RepositoryCreateResponse:
        """
        Creates an upload repository or reserves an asynchronous deployed Worker import
        by name. Worker imports require Idempotency-Key.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not account_id:
            raise ValueError(f"Expected a non-empty value for `account_id` but received {account_id!r}")
        extra_headers = {**strip_not_given({"Idempotency-Key": idempotency_key}), **(extra_headers or {})}
        return cast(
            RepositoryCreateResponse,
            self._post(
                path_template(
                    "/accounts/{account_id}/managed-defense/vulnerability-discovery/repos", account_id=account_id
                ),
                body=maybe_transform(
                    {
                        "name": name,
                        "worker_script_name": worker_script_name,
                    },
                    repository_create_params.RepositoryCreateParams,
                ),
                options=make_request_options(
                    extra_headers=extra_headers,
                    extra_query=extra_query,
                    extra_body=extra_body,
                    timeout=timeout,
                    post_parser=ResultWrapper[RepositoryCreateResponse]._unwrapper,
                ),
                cast_to=cast(
                    Any, ResultWrapper[RepositoryCreateResponse]
                ),  # Union types cannot be passed in as arguments in the type system
            ),
        )

    def list(
        self,
        *,
        account_id: str,
        cursor: str | Omit = omit,
        limit: int | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> SyncCursorLimitPagination[RepositoryListResponse]:
        """
        Lists repositories available for vulnerability discovery in an account.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not account_id:
            raise ValueError(f"Expected a non-empty value for `account_id` but received {account_id!r}")
        return self._get_api_list(
            path_template(
                "/accounts/{account_id}/managed-defense/vulnerability-discovery/repos", account_id=account_id
            ),
            page=SyncCursorLimitPagination[RepositoryListResponse],
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=maybe_transform(
                    {
                        "cursor": cursor,
                        "limit": limit,
                    },
                    repository_list_params.RepositoryListParams,
                ),
            ),
            model=RepositoryListResponse,
        )

    def get(
        self,
        repo_id: str,
        *,
        account_id: str,
        scan_cursor: str | Omit = omit,
        scan_limit: int | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> RepositoryGetResponse:
        """
        Gets repository metadata, source readiness, and customer scan history.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not account_id:
            raise ValueError(f"Expected a non-empty value for `account_id` but received {account_id!r}")
        if not repo_id:
            raise ValueError(f"Expected a non-empty value for `repo_id` but received {repo_id!r}")
        return self._get(
            path_template(
                "/accounts/{account_id}/managed-defense/vulnerability-discovery/repos/{repo_id}",
                account_id=account_id,
                repo_id=repo_id,
            ),
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=maybe_transform(
                    {
                        "scan_cursor": scan_cursor,
                        "scan_limit": scan_limit,
                    },
                    repository_get_params.RepositoryGetParams,
                ),
                post_parser=ResultWrapper[RepositoryGetResponse]._unwrapper,
            ),
            cast_to=cast(Type[RepositoryGetResponse], ResultWrapper[RepositoryGetResponse]),
        )


class AsyncRepositoriesResource(AsyncAPIResource):
    @cached_property
    def with_raw_response(self) -> AsyncRepositoriesResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/cloudflare/cloudflare-python#accessing-raw-response-data-eg-headers
        """
        return AsyncRepositoriesResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncRepositoriesResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/cloudflare/cloudflare-python#with_streaming_response
        """
        return AsyncRepositoriesResourceWithStreamingResponse(self)

    async def create(
        self,
        *,
        account_id: str,
        name: str,
        worker_script_name: str | Omit = omit,
        idempotency_key: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> RepositoryCreateResponse:
        """
        Creates an upload repository or reserves an asynchronous deployed Worker import
        by name. Worker imports require Idempotency-Key.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not account_id:
            raise ValueError(f"Expected a non-empty value for `account_id` but received {account_id!r}")
        extra_headers = {**strip_not_given({"Idempotency-Key": idempotency_key}), **(extra_headers or {})}
        return cast(
            RepositoryCreateResponse,
            await self._post(
                path_template(
                    "/accounts/{account_id}/managed-defense/vulnerability-discovery/repos", account_id=account_id
                ),
                body=await async_maybe_transform(
                    {
                        "name": name,
                        "worker_script_name": worker_script_name,
                    },
                    repository_create_params.RepositoryCreateParams,
                ),
                options=make_request_options(
                    extra_headers=extra_headers,
                    extra_query=extra_query,
                    extra_body=extra_body,
                    timeout=timeout,
                    post_parser=ResultWrapper[RepositoryCreateResponse]._unwrapper,
                ),
                cast_to=cast(
                    Any, ResultWrapper[RepositoryCreateResponse]
                ),  # Union types cannot be passed in as arguments in the type system
            ),
        )

    def list(
        self,
        *,
        account_id: str,
        cursor: str | Omit = omit,
        limit: int | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> AsyncPaginator[RepositoryListResponse, AsyncCursorLimitPagination[RepositoryListResponse]]:
        """
        Lists repositories available for vulnerability discovery in an account.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not account_id:
            raise ValueError(f"Expected a non-empty value for `account_id` but received {account_id!r}")
        return self._get_api_list(
            path_template(
                "/accounts/{account_id}/managed-defense/vulnerability-discovery/repos", account_id=account_id
            ),
            page=AsyncCursorLimitPagination[RepositoryListResponse],
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=maybe_transform(
                    {
                        "cursor": cursor,
                        "limit": limit,
                    },
                    repository_list_params.RepositoryListParams,
                ),
            ),
            model=RepositoryListResponse,
        )

    async def get(
        self,
        repo_id: str,
        *,
        account_id: str,
        scan_cursor: str | Omit = omit,
        scan_limit: int | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> RepositoryGetResponse:
        """
        Gets repository metadata, source readiness, and customer scan history.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not account_id:
            raise ValueError(f"Expected a non-empty value for `account_id` but received {account_id!r}")
        if not repo_id:
            raise ValueError(f"Expected a non-empty value for `repo_id` but received {repo_id!r}")
        return await self._get(
            path_template(
                "/accounts/{account_id}/managed-defense/vulnerability-discovery/repos/{repo_id}",
                account_id=account_id,
                repo_id=repo_id,
            ),
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=await async_maybe_transform(
                    {
                        "scan_cursor": scan_cursor,
                        "scan_limit": scan_limit,
                    },
                    repository_get_params.RepositoryGetParams,
                ),
                post_parser=ResultWrapper[RepositoryGetResponse]._unwrapper,
            ),
            cast_to=cast(Type[RepositoryGetResponse], ResultWrapper[RepositoryGetResponse]),
        )


class RepositoriesResourceWithRawResponse:
    def __init__(self, repositories: RepositoriesResource) -> None:
        self._repositories = repositories

        self.create = to_raw_response_wrapper(
            repositories.create,
        )
        self.list = to_raw_response_wrapper(
            repositories.list,
        )
        self.get = to_raw_response_wrapper(
            repositories.get,
        )


class AsyncRepositoriesResourceWithRawResponse:
    def __init__(self, repositories: AsyncRepositoriesResource) -> None:
        self._repositories = repositories

        self.create = async_to_raw_response_wrapper(
            repositories.create,
        )
        self.list = async_to_raw_response_wrapper(
            repositories.list,
        )
        self.get = async_to_raw_response_wrapper(
            repositories.get,
        )


class RepositoriesResourceWithStreamingResponse:
    def __init__(self, repositories: RepositoriesResource) -> None:
        self._repositories = repositories

        self.create = to_streamed_response_wrapper(
            repositories.create,
        )
        self.list = to_streamed_response_wrapper(
            repositories.list,
        )
        self.get = to_streamed_response_wrapper(
            repositories.get,
        )


class AsyncRepositoriesResourceWithStreamingResponse:
    def __init__(self, repositories: AsyncRepositoriesResource) -> None:
        self._repositories = repositories

        self.create = async_to_streamed_response_wrapper(
            repositories.create,
        )
        self.list = async_to_streamed_response_wrapper(
            repositories.list,
        )
        self.get = async_to_streamed_response_wrapper(
            repositories.get,
        )
